.paginationBlock,
.minMaxBlock,
.paginationList {
  display: flex;
}
.minMaxBlock {
  margin-left: -5px;
}
.minMaxBlock input {
  height: 34px;
  max-height: 34px;
  max-width: 100px;
  border: 1px solid #fff;
  margin-left: 5px;
  outline: none;
  padding-left: 6px;
}
.minMaxBlock input:focus,
.minMaxBlock input:hover {
  border: 1px solid #f6c717;
  transition: all 0.3s ease-in-out;
}
.minMaxBlock input::placeholder {
  font-size: 13px;
}
/* Chrome, Safari, Edge, Opera */
.minMaxBlock input::-webkit-outer-spin-button,
.minMaxBlock input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.minMaxBlock input[type="number"] {
  -moz-appearance: textfield;
}
.paginationList {
  flex: 1 1 auto;
  justify-content: center;
  padding-left: 0px;
  margin: 5px;
}
.selectedPage {
  background-color: #f6c717;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px;
  list-style: none;
}
.pageNumber:hover {
  background-color: #f6c717;
  transition: all 0.3s ease-in-out;
}
.pageNumber {
  padding: 2px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  list-style: none;
}
.paginationPrevious,
.paginationNext {
  cursor: pointer;
  max-width: 200px;
  font-size: 12px;
  background-color: #fff;
}
.paginationPrevious:hover,
.paginationNext:hover {
  background-color: #f6c717;
}
.paginationPrevious:disabled,
.paginationNext:disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.486);
}
