.paginationBlock,
.minMaxBlock,
.paginationList {
  display: flex;
  align-items: center;
}
.minMaxBlock {
  margin-left: -5px;
}
.paginationList {
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  margin: 5px;
}
.selectedPage {
  background-color: #f6c717;
}
.paginationPrevious,
.paginationNext {
  max-width: 200px;
}
