.productsBlock {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 9px 24px 0px;
  min-height: 300px;
}

.productsBlock h1,
.productsBlock button {
  color: #331f53;
}

.productsItems {
  display: flex;
  flex-wrap: wrap;
}

.errorMessage {
  margin: 20px 10px;
  color: #331f53;
}
