.cartIconBlock {
  background-color: #f6c717;
  padding: 5px;
  height: 50px;
  width: 50px;
  text-align: right;
}
.cartIconBlock:hover {
  background-color: #f4cd4e;
}
.cartIconBlock div {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.cartIconBlock a {
  color: #000;
  text-decoration: none;
  text-align: right;
}
