.myAccountButton {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #f6c717;
  padding: 12px 0px;
  width: 100%;
  text-transform: uppercase;
}
.myAccountButton:hover {
  background-color: #fff;
  color: #f6c717;
  transition: all 0.3s ease-in-out;
}
