.app-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  align-items: center;
}
.app-header {
  display: flex;
  flex: 0 0 80px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

h1 {
  color: #f6c717;
  margin: 0px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-transform: uppercase;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
button {
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0px;
  background-color: #f6c717;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover,
button:disabled {
  background-color: #f3d46d;
  transition: all 0.3s ease-in-out;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
